.RandHexBox {
  height: 80px;
  width: 18%;
  text-align: center;
  margin: 0.5rem;
  padding: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 420px) {
  .RandHexBox {
    width: 26%;
  }
}

.list-view {
  width: 100%;
}
