.RandHexBox {
  height: 50px;
  width: 18%;
  text-align: center;
  margin: 0.5rem;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 3px 3px #ccc;
  display: flex;
  align-content: center;
  justify-content: center;
}

p {
  font-weight: bold;
}
