.Modal {
  width: 711px;
  height: 45%;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -355.5px;
  background: whitesmoke;
  text-align: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  z-index: 500;
  transition: all 0.5s;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto 50px;
}

@media (max-width: 420px) {
  .Modal {
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    margin-left: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto 50px;
  }
}
