.Modal {
  width: 70%;
  height: 45%;
  position: fixed;
  top: 30%;
  left: 15%;
  background: whitesmoke;
  text-align: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  z-index: 500;
  transition: all 0.5s;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto 50px;
}
