.bottomBar {
  width: 100%;
  height: 50px;
  background: #75cac3;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.bottomBar svg:hover {
  fill: #f3d516;
  cursor: pointer;
}
