.ControlBar {
  margin: auto;
  width: 95%;
  display: flex;
  align-items: center;
}

.ControlBar button {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-weight: bold;
  font-size: 1.5rem;
  background: white;
  cursor: pointer;
  outline: none;
  margin: 0.8rem;
}

.ControlBar button:hover {
  color: white;
  background: gray;
  border: 1px solid gray;
}

.ControlBar select {
  width: 20%;
  font-size: 1.5rem;
}
