.bioBg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #d7f7f5;
  z-index: -1;
}

.profilePic {
  margin: 8px 0;
  width: 80%;
  box-shadow: 0 2px 2px grey;
  justify-self: center;
  align-self: center;
}

.bio {
  padding: 20px 15px;
  height: 100%;
  text-align: left;
  justify-self: start;
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.bio h2,
h3 {
  padding: 0;
  margin: 0;
}

.bio h3 {
  color: #2a6171;
  font-size: 1rem;
}

.bio ul {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bioDes {
  font-size: 0.95rem;
}

.bioInfo li {
  margin-top: 6px;
}

.bio a {
  color: #2a6171;
  text-decoration: none;
}

.bio a:hover,
.bio a:active {
  color: #f3d516;
  text-decoration: underline;
}

.resumeDl {
  cursor: pointer;
  outline: none;
  border: 1px solid #2a6171;
  font-size: 16px;
  color: white;
  background: #2a6171;
  border-radius: 3px;
}

.resumeDl:hover {
  border: 1px solid white;
  color: #2a6171;
  background: white;
}

svg {
  width: 20px;
  height: 20px;
  fill: #2a6171;
  margin: 6px 24px;
}

@media (max-width: 420px) {
  .profilePic {
    width: 50%;
  }

  .bottomBar {
    grid-column: 1;
    grid-row: 3;
  }

  .bio {
    grid-row: 2;
  }
}

@media (max-height: 568px) {
  .bioBg {
    height: 105%;
  }
}

@media (max-height: 414px) {
  .bioBg {
    height: 100%;
  }
}

@media (max-height: 320px) {
  .bioBg {
    height: 140%;
  }
}
