@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");

.NavBar {
  width: 100%;
  max-width: 1040px;
  height: 150px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.NavBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/chameleon-nav.jpg");
  filter: opacity(70%);
  background-size: 600px auto;
  background-repeat: no-repeat;
  background-position: center left;
}

.brand {
  font-size: 3rem;
  font-family: "Black Han Sans", sans-serif;
  margin-left: 2rem;
  filter: none;
  z-index: 1;
}

.author {
  font-size: 1rem;
  font-family: "Black Han Sans", sans-serif;
  align-self: flex-end;
  margin-right: 2rem;
  z-index: 1;
}

@media (max-width: 420px) {
  .NavBar {
    height: 130px;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .NavBar::before {
    left: -50px;
    background-size: 100% auto;
  }
  .brand {
    margin-right: 2rem;
  }
}

.about:hover {
  color: #2a6171;
  cursor: pointer;
}

@media (max-width: 321px) {
  .brand {
    margin-right: 1rem;
  }
}
